<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Тестирование</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <style>
        .center {
            text-align: center;
            margin: 8% 17% auto 17%;
        }

        .question {
            text-align: left;
        }

    </style>
</head>
<body>

<div class="center">
    <h2 th:unless="${question.startsWith('/image/')}" th:text="'Питання: '+${question}"></h2>
    <img th:if="${question.startsWith('/image/')}" th:src="@{'/user'+${question}}">
    <br/><br/>
    <form method="post">
           <span class="question" th:each="var:${variants}">
           <h5>
                <input th:if="${var.startsWith('/image/')}" type="radio" name="var" th:value="${var}" th:id="${var}">
                <label th:if="${var.startsWith('/image/')}" th:for="${var}"><img th:src="@{'/user'+ ${var}}"></label>

                <input th:unless="${var.startsWith('/image/')}" checked="checked" type="radio" name="var" th:value="${var}" th:text="'   '+ ${var}"><br/>
           </h5>
        </span>
        <button type="submit" class="btn btn-warning">Відправити</button>
    </form>
</div>

</body>
</html>