<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <style>
        .weigh{
            width: 70%;
            margin: 7%  15%;
        }
    </style>
</head>
<body>
<header th:insert="fragments/user_header.html :: header"> </header>
<div class="weigh">
    <table class="table">
        <thead>
        <tr>
            <th class="text-center" scope="col">Назва тесту</th>
            <th class="text-center" scope="col">Кількість питань</th>
            <th class="text-center" scope="col">Посилання</th>
        </thead>
        <tbody>
        <tr th:each="test:${tests}">
            <td class="text-center"><span th:text="${test.getName()}"> Name </span></td>
            <td class="text-center" th:text="${test.testQuestions.size()}">Size</td>
            <td class="text-center">
                <form method="post" th:action="'tests/'+${test.getId()}">
                    <button class="btn btn-success" type="submit">Почати тестування</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>