<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>Blog-Add</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>


</head>
<body>


<div class="container mt-5 mb-5">
    <h1>Добавление Вопроса</h1>
    <div th:object="${test}">
        <form  th:method="post"  >

            <div id="input0"></div>
            <input type="text" name="question" placeholder="Введите вопрос" class="form-control"><br>
            <input type="text" name="var1"  placeholder="Введите вариант ответа" class="form-control"><br>
            <input type="text" name="var2"  placeholder="Введите вариант ответа" class="form-control"><br>
            <input type="text" name="var3"  placeholder="Введите вариант ответа" class="form-control"><br>
            <input type="text" name="var4"  placeholder="Введите вариант ответа" class="form-control"><br>
            <input type="text" name="answer" placeholder="Введите правильный ответ" class="form-control"><br>
            <button type="submit" class="btn btn-success">Добавить</button>
        </form>
    </div>


</div>
</body>

</html>