<!DOCTYPE HTML>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <title>Blog-Add</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

    <script type="text/javascript">
        function addInput(){

        }
    </script>

</head>
<body>


<div class="container mt-5 mb-5">
    <h1>Создание нового теста</h1>
    <form action="/test/add" method="post">

        <input type="text" name="name"  placeholder="Введите название теста" class="form-control"><br>

        <button type="submit" class="btn btn-success">Добавить</button>
    </form>

</div>
</body>

</html>