<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test view</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
<header th:insert="fragments/admin_header.html :: header"> </header>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Название вопроса</th>
        <th scope="col">Изменить вопрос</th>
        <th scope="col">Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="q:${test.getOpenQuestions()}">
        <td th:text="${q.getQuestion()}"></td>
        <td>
            <form th:action="'/admin/test/view/'+${test.id}+'/question/'+${q.getId()}+'/edit'" method="get">
                <button class="btn btn-warning" type="submit">Изменить</button>
            </form>
        </td>
        <td>
            <form th:action="'/admin/question/'+${q.getId()}+'/delete'" method="get">
                <button class="btn btn-danger" type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    <tr th:each="q:${test.getTestQuestions()}">
        <td th:text="${q.getQuestion()}"></td>
        <td>
            <form th:action="'/admin/test/view/'+${test.id}+'/question/'+${q.getId()}+'/edit'" method="get">
                <button class="btn btn-warning" type="submit">Изменить</button>
            </form>
        </td>
        <td>
            <form th:action="'/admin/question/'+${q.getId()}+'/delete'" method="get">
                <button class="btn btn-danger" type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>